<br>
<span class="test-wrapper">
  <bko-button
    text='Кнопка1'
    icon="three-line"
    class="bko-button-primary bko-button-header"
  >
  </bko-button>
</span>
<span class="test-wrapper">
  <bko-button
    icon="search"
    class="bko-button-primary bko-button-header"
  >
  </bko-button>
  </span>
<span class="test-wrapper">
  <bko-button
    text="Кнопка3"
    icon="close"
    class="bko-button-primary bko-button-header"
  >
  </bko-button>
</span>
<br>
<br>
<span class="test-wrapper">
  <bko-button
    text='Кнопка4'
    [disabled]="true"
  >
  </bko-button>
</span>
<span class="test-wrapper">
  <bko-button
    text="Кнопка5"
  >
  </bko-button>
</span>
<span class="test-wrapper">
  <bko-button
    text="Кнопка6"
    class="bko-button-primary"
  >
  </bko-button>
</span>
<br>
<br>
<div class="bko-test">
  TEST
</div>

<svg>
  <use xlink:href="assets/icons/icons.svg#bonus"></use>
</svg>
